---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover"
/>

{description && <meta name="description" content={description} />}
<link rel="icon" type="image/svg+xml" href="/ea.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<ClientRouter />
